<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification of trade test date</title>
    <style>
        .wrapper {
            /* width: 3508px; */
            margin: 0 10rem;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table {
            text-align: left;
            width: 100%;
        }

        th {
            max-width: 10 100px;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Confirmation of trade test date</h1>
        <table>
            <tr>
                <th> Reference No</th>
                <td></td>
            </tr>
            <tr>
                <th> Candidate Name as per ID document</th>
                <td></td>
            </tr>
            <tr>
                <th> Id Number</th>
                <td></td>
            </tr>
            <tr>
                <th> Physical address</th>
                <td></td>
            </tr>
        </table>
    </div>
</body>

</html>