<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification of trade test date</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div class="wrapper">
        <div class="logo">
            <img src="codeOfArms.svg" alt="">
            <div class="dept">
                <h4>higher education <br>& training</h4>
                <p>Department:</p>
                <p>Higher Education and Training</p>
                <b>REPUBLIC OF SOUTH AFRICA</b>
            </div>
        </div>
        <p class="address">Old Pretoria/Kempton Park Road, Private Bag X5, Olifantsfontein, 1665 Tel (011)206 1000 Fax (011)316 4763</p>
        <section>
            <div class="dates">
                <div class="enquires">
                    <p>Enquires: </p><span>0115 </span>
                </div>
                <div class="tel">
                    <p>Tel No: </p><span>012 8598 4886 </span>
                </div>
                <div class="tel">
                    <p>Date: </p><span>05/06/2021 </span>
                </div>
            </div>
            <div class="candidate">
                <div class="name">
                    <p>Candidate: </p><span> Otlotleng Nkwadi </span>
                </div>
                <div class="address">
                    <p>Address: </p><span> 3111 Setlogelo Drive, Ga-Rankuwa Unit 2, Ga-Rankuwa, 0208 </span>
                </div>
            </div>
            <br>
            <h5>NOTIFICATION OF TRADE TEST DATE:</h5>
            <p class="sect">You are hereby notified that your application for a trade test is approved according to the information below:</p>
            <div class="appInfo">
                <p>Reference No: </p><span>012Ref551/FAB</span>                
                <p>Trade Test Centre: </p><span>Centurion Olivenbosh</span>                
                <p>Trade: </p><span>Machenical Trade 02</span>                
                <p>OFO code: </p><span>MA05e202</span>                
                <p>Speciliasation: </p><span>ETrain</span>                
                <p>Trade Test Date: </p><span>09/072021</span>                
                <p>Time: </p><span>12:15 PM</span>                
                <p>Workshop No: </p><span>0022514848</span>                
                <p>Requirements: </p><span>Calculator only</span> 
            </div>
            <br>
            <div class="notes">
                <p>Please note the above reference number in all communications</p>
                <ul>
                    <li>When you apply for a trade test you are deemed to be sufficiently prepared and therefore the test will not be postponed to accommodate pre-trade test training.</li>
                    <li><b>Applicants will be disqualified for late coming after ONE hour.</b> </li>
                    <li>Please bring this letter with you when you report to the trade test center for your test.</li>
                </ul>
            </div>
        </section>

        <footer>
            <div class="signature">
                <span>few</span>
                <b>Signature</b>
            </div>
        </footer>
    </div>
</body>

</html>