$font-small: .7rem;
$fs-xs: .6rem;
$clr-text: rgb(47, 47, 47);
$underline-offset: 2.4px;

*, ::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}
img {
    max-width: 100%;
}

.wrapper {
    width: 90%;
    margin: 2rem auto;
}

.logo {
    font-family: 'Sunflower', sans-serif;
    height: 3.02cm;
    line-height: 17px;
    letter-spacing: -0.5px;
    display: flex;
    align-items: center;
    gap: 1rem;

    h4 {
        line-height: 23px;
        margin-bottom: 0.4rem;
        position: relative;
        font-weight: 400;
        font-size: x-large;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: black;
            left: 0;
            bottom: -.21rem;
        }
    }

    p {
        font-weight: 300;
        font-size: .9em;
    }

    svg {
        max-width: 100%;
        height: calc(100% - 15px);
    }
}

section {
    margin-top: .5rem;
    font-size: $font-small;

    .dates {
        display: grid;
        grid-template-columns: 1fr 150px;
        justify-items: flex-start;

        & > div{
            grid-column: 2;
            display: grid;
            width: 100%;
            grid-template-columns: 35% 50%;

            & span {
                color: $clr-text;
                border-bottom: 1px solid black;
            }

            p {
                justify-self: end;
                margin-right: 0.4rem;
            }
        }
    }

    .candidate {
        display: flex;
        flex-direction: column;
        width: 70%;

        & > div {
            display: grid;
            grid-template-columns: minmax(12ch, 18ch) 1fr;
            margin-bottom: .2rem;
            span {
                text-decoration: underline;
                text-underline-offset: 2.4px;
                color: $clr-text;
            }
            &.address span {
                line-height: 15.2px;
            }
        }
    }
    h5 {
        text-decoration: underline;
        margin-bottom: .5rem;
    }
    p.sect {
        font-size: $font-small;
        margin-bottom: .5rem;
    }

    .appInfo {
        width: 70%;
        display: grid;
        flex-direction: column;
        grid-template-columns: 18ch 1fr;
        row-gap: .3rem;
        span {
            border-bottom: 1px solid black;
            color: $clr-text;
            font-size: $fs-xs;
        }
    }

    .notes {
        width: 70%;
        margin: 0 auto;

        ul {
            margin-left: 0.6rem;
        }
    }
}

footer {
    margin-top: 2rem;
    span {
        display: block; 
        width: 30%;
        border-bottom: 1px solid;
    }
    b {
        font-size: $fs-xs;
    }
}


.address {
    font-size: $font-small;
}